body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

#title {
  text-align: center;
}

#gif,
#gif2 {
  width: 200px;
  height: auto;
  margin: 20px;
  display: block;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: lightblue;
  background-image: url("https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1000w,f_auto,q_auto:best/newscms/2019_06/2746941/190208-stock-money-fanned-out-ew-317p.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  text-align: center;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
}

.info {
  margin-top: 20px;
  padding: 15px;
  background-color: rgba(233, 236, 239, 0.8);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info p {
  margin: 5px 0;
}

.flex-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
